---
import "../global.css"
import App from '../components/App.jsx';
---


<!DOCTYPE html>
<html lang="en" class="antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LRD - Laravel Request Docs</title>
	</head>
	<body>
		<App client:only />
	</body>
</html>


